* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}
body {
    margin: 0;
    width: 100%;
}

header {
height: 80px;

}



.footer {
    background-color: #102C57;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footerInner {
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
}

.footerLogo img {
    width: 300px; 
}

.footerLoc h3 {
    margin-bottom: 10px; 
}

.redesSoc a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; 
}
.container-fluid {
    width: 100%;
}

@media screen and (max-width: 412px){
    .footer {
        width: 100%;
    }
    img {
        width: 400px;
    }
}

@media screen and (min-width: 412px){
    img {
        width: 100%;
    }
}