* {
    margin: 0;
}
/*Estilos para la seccion 1*/
.section1 {
    background-color: #DFD0B8;
    /*oculta el contenido que sobresalga */
    overflow: hidden;
    /* Ajusta el tamaño de la imagen para cubrir toda la sección */
    background-image: url('../img/mesoterapia-2rel.jpg');
    background-size: cover;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    /* Fija la imagen en su posición mientras te desplazas */
    background-attachment: fixed;
    /* Ajusta la posición inicial de la imagen en la parte superior */
    background-position: center top;
    /* Establece la altura deseada para la sección */
    height: 80vh;

}
.a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto */
}

.section1 .card {
    position: relative;
    overflow: hidden;
}

.section1 .card-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #DFD0B8;
    padding: 20px 30px;
    color: #948979;
    text-align: center;
    border-radius: 20%;

}

.card-img-top {
    width: 100%;
    margin: 0;
    height: auto;
}

.cmsmasters_column_inner {
    width: 100%;
    position: relative;
    min-height: 1px;
}
/*Estilos secction2*/
.section2 {
    width: 100%;
    height: 400px;
    margin-top: 0;
    background-color: #FEFAF6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cont-text1 {
    width: 600px;
    height: auto;
}

.text-parrafo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #DFD0B8;
    text-align: center;
    /* Establece la altura de línea del texto */
    line-height: 30px;
    /* Establece el ancho máximo del texto */
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}
/*Estilos seccion 3*/
.section3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color:white;
    flex-wrap: wrap;
    align-items: flex-end;
}

.col-info {
    /* Esto dividirá la sección en dos columnas con un espacio de 10px entre ellas */
    flex: 0 0 calc(50% - 10px);
    /*color de contorno sacar */
    /* border: 2px solid #EADBC8; */
    /* Asegura que el contorno no aumente el tamaño de los elementos */
    box-sizing: border-box;
    /* margen entre los elementos */
    margin: 5px;
    padding: 5px;
    height: auto;
}

.col-info-text {
    height: 20px;
    text-align: center;
    color: #948979;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Estilos seccion4*/
.section4 {
    width: 100%;
    height: auto;
    background-color: #DFD0B8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/foto4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
}
.col-flotanteA {
    display: flex;
    /* Organiza los elementos en línea */
    justify-content: flex-end;
    /* Alinea los elementos al extremo derecho */
    margin-left: 10px;
}
.col-flotante-1,
.flotante2 {
    /* border: 2px solid #153448; */
    box-sizing: border-box;
    padding: 10px 20px;
    width: calc(40vh - 4px);
    height: auto;
    /* Coloca los elementos uno al lado del otro */
    display: inline-block;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.col-flotante-1 {
    background-color: white;
    margin-left: 110vh;
}
.flotante2 {
    background-color: white;
}
.negrito-parrafo{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #948979;
    margin-top: 20px;
    padding: 5px;
}
.text-parrafo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#948979;
}
.text-parrafoT{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #948979;
}
.custom-btn4{
    color: #948979;
    border-color: #948979;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.custom-btn4:hover{
    background-color: #948979;
    color: #102C57;
}

@media (max-width: 740px) {
    .col-flotanteA {
        width: calc(100% - 20px);
        /* Ocupa todo el ancho del contenedor padre en dispositivos móviles */
    }
}
@media only screen and (max-width: 740px) {
    .col-flotanteA {
        width: calc(100% - 20px);
        height: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-flotanteA {
        width: calc(100% - 20px);
        height: auto;
    }
}
/* Estilo base para la sección 5 */
.section5{
    width: 100%;
    height: auto;
}
.title55{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #948979;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.container5{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.card-group5 {
    margin: 10px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card5{
    width: 250px;
    height: auto;
    margin-bottom: 30px;
    background-color:#EADBC8;
}
.card-img-top {
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease; /* Agregamos una transición suave */
}
.card-title{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-img-top:hover {
    transform: scale(1.1); /* Hacemos un zoom del 10% cuando se pasa el cursor */
}
/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .card-img-top {
        width: 100%; /* Ancho completo en pantallas pequeñas */
    }

    .card-img-top {
        max-width: 100%; /* Ajusta el ancho de las imágenes para que se ajusten al contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }
}
/* Media query para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-img-top {
        width: 80%; /* Ancho del 80% del contenedor en pantallas medianas */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        display: flex; /* Utiliza flexbox para centrar las imágenes */
        justify-content: center; /* Centra horizontalmente las imágenes */
        align-items: center; /* Centra verticalmente las imágenes */
    }

    .card-img-top {
        max-width: 100%; /* Ajusta el ancho de las imágenes para que se ajusten al contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }
}
/* Estilo base para la sección 5 */
.section5{
    width: 100%;
    height: auto;
}
.title55{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.container5{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.card-group5{
    margin: 10px;
    gap: 20px;
    display:flex;
    
}
.card5{
    width: 250px;
    height: auto;
    margin-bottom: 30px;
    background-color:#EADBC8;
}
.card-img-top {
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease; /* Agregamos una transición suave */
}
.card-title{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.card-img-top:hover {
    transform: scale(0.5.1); /* Hace un zoom del 10% cuando se pasa el cursor */
}
@media screen and (max-width: 768px) {
    .card-group5{
        justify-content: center;
    }
}
/*nueva seccion5 zonas depilacion*/
/*Estilos para la seccion 6*/
.section6 {
    width: 100%;
    height: 600px; 
    display: flex;
    background-image: url('../img/foto5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}
.card6{
    background-color: #DFD0B8;
    width: auto;
    box-sizing: border-box;

}
.card-body6{
    padding: 10px 20px;
    width:400px;
    height: auto;
    position: absolute;
    background-color: transparent;
    top: 50%; /* Centra verticalmente */
    left:80%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra exactamente */
    /* border: 2px solid #153448; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.custom-btn{
    color: #153448;
    border-color:#948979;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.custom-btn:hover{
    background-color: #41B06E;
    color: black;
}
/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card-body6{
        width: auto; /* Ajusta el ancho para dispositivos móviles */
        margin: 0; /* Elimina el margen para dispositivos móviles */
        top: 50%; /* Centra verticalmente */
        left:70%; /* Centra horizontalmente */
        flex-wrap: wrap;
        background-color: #FEFAF6;
    }
    .custom-btn{
        width: auto;
            height: auto;
            text-align: center;
            display: inline-block;
            margin: 10px 0;
            padding: 10px 20px;
            width: auto;
            max-width: 100%;
            /* para que el botón no exceda el ancho del contenedor */
            box-sizing: border-box;
        
    }
}
/*estilos del footer*/
.footer {
    background-color: #102C57;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}
.footerInner {
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}
.footerLogo img {
    width: 300px; 
}
.footerLoc h3 {
    margin-bottom: 10px; 
}
.redesSoc a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px; 
}
